[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.2"
dj-database-url = "*"
psycopg2-binary = "*"
django = "*"
django-on-heroku = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
