{% extends 'base.html' %} {% block content %}

<style>
  p {
    color: darkgreen;
  }
  form {
    color: darkgreen;
    background-color: darkgray;
  }
</style>



<form method="post" action="{% url 'login' %}"><br>
<h1 class="title">Log In</h1>

  {% csrf_token %} {{ form.as_p }}

<!-- styled button -->
  <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div  class="text-center">
              <input type="submit" class="w-100 btn-lg btn btn-success" value="login" />
              <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </div>
    </div>
  </div>
  <br>
  <!--Redundancy: go to signup instead-->
  <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div  class="text-center">
              <a href="{% url 'signup' %}">
                <button type="button" class="btn btn-secondary btn-sm">To Signup Page (new user)</button>
              </a>
            </div>
        </div>
    </div>
  </div>
  <!--End alternate button-->
  <br><br><br>
</form>

{% endblock %}