{% extends 'base.html' %} {% block content %}

<style>
  p {
    color: darkgreen;
  }
  form {
    color: darkgreen;
    background-color: darkgray;
    height: 100vh;
  }
</style>
<!--Form takes up entire screen outside of NAV-->
<form method="post" action="{% url 'signup' %}">
  <br>
<h1 class="title">Sign Up</h1>

  {% csrf_token %} {{ form.as_p }}

<!-- styled button -->
  <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div  class="text-center">
              <input type="submit" class="w-60 btn btn-lg btn-success" value="Sign Up" />
              <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </div>
    </div>
  </div>
  <br><br>
  <!--Redundancy: go to login instead-->
  <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div  class="text-center">
              <a href="{% url 'login' %}">
                <button type="button" class="btn btn-secondary btn-sm">To Login Page (returning user)</button>
              </a>
            </div>
        </div>
    </div>
  </div>
  <!--End alternate button-->
  <br><br><br><br><br>
</form>

{% endblock %}