{% extends 'base.html' %} {% block content %}

<h1 class="title">Sign Up</h1>
<form method="post" action="{% url 'signup' %}">
  {% csrf_token %} {{ form.as_p }}


<!-- styled button -->
  <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div  class="text-center">
              <input type="submit" class="w-100 btn btn-success" value="Sign Up" />
              <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </div>
    </div>
  </div>
</form>

{% endblock %}