{% extends 'base.html' %} {% block content %}

<style>
  p {
    color: darkgreen;
    text-align: center;
  }
  form {
    color: darkgreen;
    background-color: darkgray;
    height: 100vh;
    text-shadow: 1px 1px 1px white,
               2px 2px 1px black;
  }
</style>

<form>
<br><br><br>
<!--500 ERROR message-->
<h5 class="title" style="text-align: center; font-weight: lighter; color: darkgreen; font-weight: bolder;" id="signup-title">
    ERROR! There was a server error that we didn't expect.<br><br>

    Please hit refresh, or click a different link.
</h5>
</form>


{% endblock %}

