{% extends 'base.html' %} {% block content %}
<style>
    body {
        opacity: 1;
        /* no other css seemed to work on images/cards/container */
    }
    h5 {
        color: darkgreen;
    }
</style>
<h1 class="title">Accommodations</h1>
<body> 
    <!--CARDS for two hotels-->
    <div class="container-md">
        <div class="card border-success mb-3">
            <div class="card"><!--FIRST IMG: https://www.pleasantholidays.com/media/1bc18cb/hotel/images/SMI/smi_main.jpg  -->
                <img src="https://www.pleasantholidays.com/media/1bc18cb/hotel/images/SMI/smi_main.jpg" class="card-img-top" alt="fairmont-sonoma">
                <div class="card-body">
                <h5 class="card-title">Robot Arms Apartments</h5>
                <p class="card-text">A personal favorite, this hotel features a fine restaurant and a pool-bar. Very close to all of the weekend's destinations, too.</p>
                <p class="card-text"><small class="text-muted">Request a room: <a href="mailto:jared.stearne@gmail.com">Email Us</a></p></small></p>
                </div>
            </div>
        </div>
    </div>
    <!--Second hotel, image bottom-->
    <div class="container-md">
        <div class="card border-success mb-3">        
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Apartment 00100100</h5>
                <p class="card-text">A beautiful (dog-friendly) hotel in downtown Santa Rosa, close to restaurants and bars. Just a short drive to all events, and within taxi-range.</p>
                <p class="card-text"><small class="text-muted">Request a room: <a href="mailto:jared.stearne@gmail.com">Email Us</a></p></small></p>
                </div><!--SECOND IMG: https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1b/52/5f/3d/exterior.jpg?w=900&h=-1&s=1 -->
                <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1b/52/5f/3d/exterior.jpg?w=900&h=-1&s=1" class="card-img-bottom" alt="hyatt-regency">
            </div>
        </div>
    </div>


</body>

{% endblock %} 