{% extends 'base.html' %} {% block content %}

<style>
  p {
    color: darkgreen;
  }
  form {
    color: darkgreen;
    background-color: darkgray;
    height: 100vh;
  }
</style>

<!--Contents of guestbook_update.html page-->
<form action=" {% url 'guestbook_update' post.pk %} " method="post">
  <br>
  <h1 class="pt-3">Update Message</h1>
    <div class="container">
      <div class="row">
          <div class="col-xs-12">
              <div  class="text-center">
                <!--Simple form: title/body-->
              {% csrf_token %}  {{form.as_p}} <!--form.as_p brings in previous post content-->
              </div>
          </div>
      </div>
    </div>
  <br>
  <!--container for positioning submit and cancel buttons-->
  <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div  class="text-center">
              <!--Action buttons: cancel, submit-->
              <a href="{% url 'guestbook' %}">
                <button type="button" class="w-60 btn btn-sm btn-secondary">Go Back</button>
              </a>
              <!--Most users are right-handed, primary should go on the right!-->
              <button class="w-60 btn btn-sm btn-success" type="submit" value="Submit">Update Post</button>
            </div>
        </div>
    </div>
  </div>
</form>


{% endblock %}
