{% extends 'base.html' %} {% block content %}
<br>
<h3>Guestbook</h3>

<!--fix the RIGHT column but keep it on the right-->
<style>
    .col-sm-5 {
  position:fixed;

  /* this is right half fixed but on left? How to fix */
}
</style>

<!--Two column format: left is all posts, right is static post form: https://getbootstrap.com/docs/5.1/layout/columns/ -->
<div class="container">
    <div class="row "  >
        <div class="col-sm-7 " > <!--Left half of page (higher number is wider)-->
<br><br>
<a href="{% url 'guestbook_create' %}">Leave a Message</a><!--REMOVE WHEN SITE IS DONE-->
<br><br>
    <!--POST LOOP-->
        {% for post in posts %}
        <!--Bootstrap card for every post in DB-->
            <div class="card">
                <div class="card-header">TITLE: {{ post.title }}</div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>BODY: {{ post.body }}</p>
                        <p>Created: {{ post.created_at }}</p>
                        <footer class="blockquote-footer">POST AUTHOR: {{ post.user.guest.name }} 
                        <cite title="Source Title">( RSVP'D: {{post.user.guest.rsvp}} )</cite></footer>
                    </blockquote>
                    <a href="{% url 'guestbook_update' post.pk %}">Edit (Page)</a>&nbsp; &nbsp; 
                    <a href="{% url 'guestbook_delete' post.pk %}">Delete (Page)</a>
                    <br><br>





<!-- UPDATE MODAL: NOT YET WORKING-->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Edit Post</button>
<!--secondary class="modalCRUD{{ obj.pk }}" to ensure the correct button is targeted for CRUD function-->
<div class="modal fade" class="modalUpdate{{ obj.pk }}" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Title:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <!--Update functionality START-->
            <form action="{% url 'guestbook_update' post.pk %}" data-target=".modalUpdate{{ obj.pk }}" method="POST">
            {% csrf_token %}
                <button class="btn btn-primary">Update Message</button>
            </form>
            <!--Update functionality END-->
      </div>
    </div>
  </div>
</div>
<!-- UPDATE MODAL: NOT YET WORKING-->






<!--DELETE MODAL-->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Delete
  </button>  
<!--secondary class="modalCRUD{{ obj.pk }}" to ensure the correct button is targeted for CRUD function-->
  <div class="modal fade" id="staticBackdrop" class="modalDelete{{ obj.pk }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Delete?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
          <!--Delete functionality START-->
          <form action="{% url 'guestbook_delete' post.pk %}" data-target=".modalDelete{{ obj.pk }}" method="POST">
            {% csrf_token %}
            <button class="btn btn-danger">Delete</button>
          </form>
          <!--Delete functionality END-->

        </div>
      </div>
    </div>
  </div>
<!--Delete Modal-->


                </div>
            </div><br>
        <!--END Bootstrap card-->
        {% endfor %}
        <!--END POST LOOP-->
        </div><!--END LEFT COLUMN-->



        <!--RIGHT COLUMN-->
        <!--RIGHT COLUMN-->
        <!--RIGHT COLUMN-->
        


        


        <div class="col-sm-5" style="position: absolute; right: 20px;" > <!--Right half of page-->

            <!--HTML post create HERE--><br><br>
            <body class="new-post-form"><!--ORIGINAL: <body class="signup-page">-->
                <h5 class="title" style="text-align: center;" id="signup-title">Add Message to Guestbook</h5>
                <main class="form-signin">
                    <form method="post" action="{% url 'guestbook_create' %}"><!--create post form START-->
                        {% csrf_token %}
                    <!--New Post form: TITLE FIELD-->
                        <div class="form-floating">
                            <input type="text" class="form-control" name="title" id="floatingInput" required id="new_title" placeholder="Title">
                                <label for="floatingInput">Title</label>
                        </div>
                    <!--New Post form: BODY FIELD-->
                        <div class="form-floating">
                            <input type="text" class="form-control" name="body" id="floatingInput" required id="new_body" placeholder="Message">
                                <label for="floatingInput">Message</label>
                        </div>
                    <!--Submit New Post Form-->
                        <button type="submit" class="w-100 btn btn-lg btn-primary" value="New Post">Add New Message</button>
                        <input type="hidden" name="next" value="{{ next }}" />

                    </form>

                    <!--unnecessary?-->
                    <div class="signup-error" style="color: red; text-align: center;">
                        {{ form.errors }}
                    </div>

                </main>
            </body>
        </div>
    </div>
<!--END HTML post create-->





<!--End of right column-->
    <br><br>
    <a href="{% url 'guestbook_create' %}">Leave a Message</a>
    <br><br>
    <hr class="solid">
</div>
<!--END OF TWO COLUMNS (footer underneath, optional)-->



















Syntax reminders...<br>

Currently logged in user: "{user.username}"" = "{ user.username }" <br>

Currently logged in user RSVPD?: "{user.guest.rsvp}" = "{ user.guest.rsvp }"<br>

Original post author: "{ post.user.username }" <br>

Original post author RSVP: "{ post.user.guest.rsvp }"

I may need to add an author-field to posts to get 'post-author'...

{% endblock %} 

