{% extends 'base.html' %} {% block content %}

<h1 class="pt-3">Update Message</h1>


<div class="container">
  <div class="row">
      <div class="col-xs-12">
          <div  class="text-center">
            <!--Simple form: title/body-->
            <form action=" {% url 'guestbook_update' post.pk %} " method="post">
              {% csrf_token %} <!-- {{form.as_p}} 
              
                TEST MODAL
              -->


              <form method="post" action="{% url 'guestbook_update' post.pk %}"><!--create post form START-->
                {% csrf_token %} 
            <!--New Post form: TITLE FIELD-->
                <div class="form-floating">
                    <input type="text" class="form-control" name="title" id="floatingInput" required id="edit_title" placeholder="Title">
                        <label for="floatingInput">Title</label>
                </div>
            <!--New Post form: BODY FIELD-->
                <div class="form-floating">
                    <input type="text" class="form-control" name="body" id="floatingInput" required id="edit_body" placeholder="Message">
                        <label for="floatingInput">Message</label>
                </div>
            <!--Submit New Post Form-->
                <button type="submit" class="w-100 btn btn-lg btn btn-success" value="New Post">Edit Message</button>
                <input type="hidden" name="next" value="{{ next }}" />








          </div>
      </div>
  </div>
</div>
<br>
<!--container for positioning submit and cancel buttons-->
  <div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div  class="text-center">
              <!--Action buttons: cancel, submit-->
              <a href="{% url 'guestbook' %}">
                <button type="button" class="w-60 btn btn-lg btn-secondary">Go Back</button>
              </a>
              <!--Most users are right-handed, primary should go on the right!-->
              <button class="w-60 btn btn-lg btn-success" type="submit" value="Submit">Update Post</button>
          </div>
      </div>
  </div>
</div>
<br><br><br><br><br>
</form>


{% endblock %}
