{% extends 'base.html' %} {% block content %}

<h1 class="title">Schedule</h1>

<!--Bootstrap multi-level card for schedule items?-->
<div class="container-md">
    <div class="card border-success mb-3">
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            </ul>
            <div class="card-footer">
            Card footer
            </div>
        </div>
    </div>
</div>

{% endblock %} 