{% extends 'base.html' %} {% block content %}

<body 
  class="edit_park" 
  style="background: rgb(194, 222, 185);"
>
  <h1 class="pt-3">Update {{park.name}}</h1>

  <form
    action="{% url 'post_update' park.pk %}"
    method="post"
    style="padding: 15px"
  >
    {% csrf_token %}
    <table style="display: flex; justify-content: center">
      {{ form }}
    </table>
    <div
      class="submitButton"
      style="display: flex; justify-content: center; padding: 15px"
    >
      <input type="submit" value="Submit" />
    </div>
  </form>
</body>

{% endblock %}